:root {
  --main-color: #bebcdf;
  --secondary-color: #cc6b49;
  --third-color: #272044;
  --fourth-color: #f8f8f8;
  --main-font-family: "Poppins", sans-serif;
  --box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font-family);
}
header {
  padding: 100px 0;
  background-color: var(--third-color);
}
header h1 {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 5px;
}
header h3 {
  text-align: center;
  line-height: 1;
  font-weight: 100;
  font-size: 25px;
  color: #fff;
  letter-spacing: 5px;
}
header .icons {
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 20px;
}

.form-section {
  margin-top: 10px;
  text-align: center;
  background-color: #fff;
}
.form-section input {
  margin: 30px auto;
  box-shadow: var(--box-shadow);
}
.form-section .text {
  width: 50%;
  padding: 8px 60px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 5px;
}
.form-section .submit {
  width: 20%;
  padding: 8px 20px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 5px;
  background-color: var(--main-color);
}

.recipe-section {
  margin-top: 10px;
  background-color: var(--fourth-color);
}
.recipe-section .recipe-details {
  padding: 20px;
  line-height: 1.5;
}
footer .githubLink {
  color: #cc6b49;
  text-decoration: none;
}
footer p {
  text-align: center;
  font-size: 12px;
}

footer .linkedinProfile {
  color: var(--secondary-color);
  text-decoration: none;
}
footer .githubLink:hover {
  text-decoration: underline;
}
footer .linkedinProfile:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 27px;
  }
  header h3 {
    font-size: 15px;
  }
  header .icons {
    margin-top: 30px;
  }
  .form-section .text {
    font-size: 12px;
    width: 30%;
  }
  .form-section .submit {
    font-size: 12px;
  }
  .recipe-section .recipe-details {
    font-size: 12px;
  }

  footer p {
    font-size: 10px;
  }
}
